<main id="main-doc">

    <nav id="navbar">
        <img class="headshot mx-auto" class="img-fluid" src="https://avatars3.githubusercontent.com/u/53979408?s=460&u=f5c589610ad772feb17a4835c4c0658e12bed05e&v=4">

        <header class="mt-8">Kat</header>

        <div class="nav_link"><a href="#who_is_kat?">Who is Kat?</a></div><br>
        <div class="nav_link"><a href="#projects">Projects</a></div><br>
        <div><a href="#survey">Survey Page</a></div>
        <div><a href="#tribute">Tribute Page</a></div>
        <div><a href="#random">Random Page</a></div><br>
        <div class="nav_link mb-8"><a href="#contact_me">Contact Me</a></div>

        <script src="https://kit.fontawesome.com/1b49d7e787.js"></script>

        <div class="topnav">
            <div class="profile-links">

                <a href="https://codepen.io/viciouskatie/" id="profile-link" target=_blank class="active"><i class="fab fa-free-code-camp fa-lg"></i></a>
                <a href="https://www.facebook.com/katharin3" target=_blank class="active"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://viciouskatie.github.io" target=_blank class="active"><i class="fab fa-github-square fa-lg"></i></a></div>
    </nav>
    </div>

    <div id="technical-doc-writing">
        <section class="main-section" id="who_is_kat?">
            <header>Who is Kat?</header>
            <p class="mt-5">Whom am I? I am me, also known as Katharine or Kat for short. I am a web developer looking for some projects to complete and expand my portfolio. Based remotely in Oklahoma City. I am proficient in HTML, CSS, and Javascript.</p>
        </section>

        <section class="main-section" id="projects">
            <header class="mt-8 mb-3">Projects</header>

            <div class="grid grid-cols-2 gap-6 mb-8 ml-8">
                <a class="main-section" id="survey" href="https://codepen.io/viciouskatie/full/RXazMP mx-auto">Survey Page<iframe src="https://codepen.io/viciouskatie/full/RXazMP" class="no-hover" frameborder="0" scrolling="no" sandbox="allow-scripts allow-pointer-lock allow-same-origin" tabindex="-1"></iframe></a>

                <a class="main-section" id="tribute" href="https://codepen.io/viciouskatie/full/wVKZGQ">Tribute Page<iframe src="https://codepen.io/viciouskatie/full/wVKZGQ" class="no-hover" frameborder="0" scrolling="no" sandbox="allow-scripts allow-pointer-lock allow-same-origin" tabindex="-1"></iframe></a>

                <a class="main-section" id="random" href="https://codepen.io/viciouskatie/full/dxMBdx">
                    Flad's Fab<iframe src="https://cdpn.io/viciouskatie/full/dxMBdx" class="no-hover" frameborder="0" scrolling="no" sandbox="allow-scripts allow-pointer-lock allow-same-origin" tabindex="-1"></iframe></a>
            </div>
            <section class="main-section">
                <p>
                <pre><code>"True evil is, above all things, seductive. When the Devil knocks at your door, he doesn't have cloven hooves. He is beautiful, and offers you your heart's desire in whispered airs. Like a siren, beckoning you to ruinous shore."
      — The Creature from Netflix series 'Penny Dreadful'
                </pre></code>
                </p>
            </section>
            <section class="main-section" id="Dead_Sea_scrolls">

                <section class="main-section" id="contact_me">
                    <header>Contact Me</header>
                    <p class="mt-5">Feel free to send me a message on one of these platforms:

                    <ul class="ml-8">
                        <li><a href="https://codepen.io/viciouskatie/" target=_blank>FreeCodeCamp<i class="fab fa-free-code-camp fa-lg"></i></li></a>
                        <li><a href="https://www.facebook.com/katharin3" target=_blank>Facebook<i class="fab fa-facebook fa-lg"></i></li></a>
                        <li><a href="https://viciouskatie.github.io" target=_blank>Github<i class="fab fa-github-square fa-lg"></i></li></a>
                    </ul>
                    </p>
                </section>
    </div>
    </div>
</main>