<div class="flex flex-wrap items-center justify-center d-inline text-lg bg-gray-100 mt-4">

<p class="mt-5 mb-5">
  Title:
  <%= @submission.title %>
<br>
  Description:
  <%= @submission.description %>
</p>
</div>
<div>
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
</div>