<div class="bg-white flex space-x-6 mx-14 my-14 justify-center rounded-sm">

<p class="mt-5 mb-5">
  Title:
  <%= @submission.title %>
<br>
  Description:
  <%= @submission.description %>
</p>
<div class="flex-intial my-14">
<%= link_to 'Edit', edit_submission_path(@submission), class: "btn-blue rounded text-white hover:bg-blue hover:text-white no-underline block py-2 px-4 flex items-center text-sm" %>
</div>
<div class="flex-2 justify-end my-14">
<%= link_to 'Back', submissions_path, class: "btn-blue rounded text-white hover:bg-blue hover:text-white no-underline block py-2 px-4 flex items-center text-sm" %>
</div>
